*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* sets root for rem values 1rem = 10px*/ }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box; }

.login-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden; }
  .login-background__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right; }

.login-form {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  width: 320px;
  margin-top: 10rem;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .login-form__input {
    width: 80%; }
    .login-form__input:not(:last-child) {
      margin-bottom: 2rem; }
  .login-form_logo {
    max-width: 60%;
    height: auto;
    margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .login-form {
      width: 100%;
      height: 100vh;
      margin-top: 0;
      border-radius: 0; }
      .login-form__input {
        width: 90%; }
        .login-form__input:not(:last-child) {
          margin-bottom: 2rem; } }

.u-image-opacity-high {
  opacity: .35; }

.u-image-opacity-small {
  opacity: .65; }

.u-center {
  margin-left: auto;
  margin-right: auto; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-bottom-high {
  margin-bottom: 3rem; }
