.login-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
    }
}