@import "../abstracts/variables";
@import "../abstracts/mixins";

.login-form {
    background-color: rgba($color-white, .85);
    border-radius: 8px;
    width: 320px;
    margin-top: 10rem;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;


    &__input {
        width: 80%;
        //font-size: inherit;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &_logo {
        max-width: 60%;
        height: auto;
        margin-bottom: 2rem;
    }


    @include respond(phone) {
        width: 100%;
        height: 100vh;
        margin-top: 0;
        border-radius: 0;

        &__input {
            width: 90%;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }
}